.App{
    font-family: sans-serif;
    text-align: center;
}

.product-card{
    display: flex;
    /* flex-direction: column; */
    width: 200px;
    flex-wrap: nowrap;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.product-img{
    width: 200px;
    height: 200px;
}